/* stylelint-disable docusaurus/copyright-header */
/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  text-align: center;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 8rem;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.fluxnovaDescription {
  font-size: 1.7rem;
  width: 85%;
  margin: auto;
  @media screen and (max-width: 966px) {
    font-size: 1.5rem;
    width: 100%;
  }
}

.buttonsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem;
  width: 50%;
  @media screen and (max-width: 966px) {
    display: block;
    width: 100%;
    text-align: center;
  }
}

.button {
  margin: 0 2em 0 2em;
  @media screen and (max-width: 966px) {
    margin: 10px 0;
  }
}

.feature {
  background-color: white;
  padding-top: 2.3rem;
  border-radius: 40px;
  z-index: 1;
  margin: 1rem;
  @media screen and (max-width: 966px) {
    margin: 10px 0;
  }
  a {
    text-decoration: none;
  }
  img {
    height: 120px;
    width: 120px;
  }
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  margin-top: -140px;
  @media screen and (max-width: 966px) {
    margin: 10px 0;
  }
}

.hero.hero--primary {
  background-color: #00b5e2;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainDescription {
  text-align: center;
  font-size: 20px;
  width: 62%;
  margin: auto;
  color: #606060;
  padding-bottom: 6rem;
}

.fluxnovaCapabilities {
  width: 95%;
  display: block;
  margin: auto;
  padding: 50px;
}

.sectionThree {
  // leaving these until this CTA block is made into a component
  position: relative;
  background-color: var(--ifm-color-primary);
  color: white;
  padding: 40px 50px;
  font-weight: bold;
}

.sectionThree button {
  position: absolute;
  top: 40px;
  right: 40px;
}

.sectionThreeText {
  padding: 40px;
}

.sectionThreeImageWrapper {
  display: flex;
  justify-content: flex-end;
}

.sectionThreeImage {
  background-color: var(--ifm-background-color);
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  margin: 10px 0;
  width: 90%;
}

.sectionThreeImage img {
  padding: 30px 0 30px 30px;
}
