/* stylelint-disable docusaurus/copyright-header */
/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttonsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  width: 40%;
  @media screen and (max-width: 966px) {
    display: block;
    width: 100%;
    text-align: center;
  }
}

.button {
  margin: 0 2em 0 2em;
  @media screen and (max-width: 966px) {
    margin: 10px 0;
  }
}

.feature {
  background-color: white;
  padding-top: 2.3rem;
  border-radius: 40px;
  z-index: 1;
  margin: 1rem;
  @media screen and (max-width: 966px) {
    margin: 10px 0;
  }
  a {
    text-decoration: none;
  }
  img {
    height: 120px;
    width: 120px;
  }
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  //margin-top: -140px;
  margin: -140px auto 0;
  @media screen and (max-width: 966px) {
    margin: 10px 0;
  }
}

.hero.hero--primary {
  background-color: #00b5e2;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainDescription {
  text-align: center;
  font-size: 20px;
  width: 62%;
  margin: auto;
  color: #606060;
  padding-bottom: 6rem;
}

.fluxnovaCapabilities {
  width: 95%;
  display: block;
  margin: auto;
  padding: 50px;
}

.featureWrapper {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  justify-content: center;
  li {
    max-width: 300px;
    text-wrap: wrap;
  }
  img {
    max-height: 60px;
    max-width: 60px;
    margin: 0 15px 0 0;
  }
  .featureBlip {
    display: flex;
    align-items: center;
    margin: 20px;
  }
  .featureHeader {
    font-size: 1.2rem;
    font-weight: 700;
  }
}
