/* stylelint-disable docusaurus/copyright-header */
/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 8rem;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.flowaveDescription {
  font-size: 1.5rem;
  width: 60%;
  margin: auto;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}

.button {
  margin: 0em 2em 0em 2em;
}

.getStartedButton {
  background-color: #00CE97;
  border-radius: 50px;
}

.joinCommunityButton {
  background-color: #FFFFFF;
  color: #00CE97 !important;
  border-color: #00CE97;
  border-radius: 50px;
  border-width: 2px;
}

.feature {
  background-color: white;
  padding-top: 2rem;
  border-radius: 40px;
  z-index: 1;
  margin: 1rem;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  margin-top: -9%;
}

.featuresCTA{
  text-align: center;
}

.featuresCTA ul{
  display: inline-block;
  padding: 0 20% 0 20%;
  list-style: none;
  margin-bottom: 5px;
}

.featuresCTA li::before{
  content: "\2022";
  display: inline-block;
  width: 2em;
  margin-left: -2em;
  color: var(--ifm-link-color);
}

.featureCTA{
  text-align: center;
}

.featureCTA ul{
  display: inline-block;
  padding: 0 10% 0 10%;
  list-style: none;
  margin-bottom: 5px;
}

.featureCTA li::before{
  content: "\2022";
  display: inline-block;
  width: 2em;
  margin-left: -2em;
  color: var(--ifm-link-color);
}

.featureImage {
  padding-bottom: 30px;
}

.memberImage {
  height: 250px;
  width: 250px;
}

.projectImage {
  height: 250px;
  width: 150px;
}

.row--center h2{
  color: #ffffff;
  font-size: 16px;
  text-align: center;
}

.hero.hero--primary {
  background-color: #00b5e2;
  background-repeat: no-repeat;
  background-size: cover;
}

.members {
  background-image: linear-gradient(to bottom, rgba(163,215,212,0.2), rgba(25,182,204,0.2));
  background-repeat: no-repeat;
  background-size: cover;
  padding: 74px 0;
}

.projects {
  padding: 74px 0;
  background-color: #ffffff;
}

.mainDescription {
  text-align: center;
  font-size: 20px;
  width: 70%;
  margin: auto;
  color: #606060;
  padding-bottom: 6rem;
}

.flowaveCapabilities {
  width: 95%;
  display: block;
  margin: auto;
  padding: 50px;
}

.navbarWhiteRectangle {
  background-color: white;
  height: 5px;
}