.paddedImageWrapper {
  background-color: var(--ifm-background-color);
  &.right {
    margin: 50px 0 50px 25px;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    img {
      padding: 30px 0 30px 30px;
    }
  }
  &.left {
    background-color: white;
    margin: 50px 50px 50px 0;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    img {
      padding: 30px 30px 30px 0;
    }
  }
}
