.paddedImageWrapper {
  background-color: var(--ifm-background-color);
}

.paddedImageWrapper.right {
  margin: 50px 0 50px 25px;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
}

.paddedImageWrapper.left {
  background-color: white;
  margin: 50px 50px 50px 0;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
}

.paddedImageWrapper.right img {
  padding: 30px 0 30px 30px;
}

.paddedImageWrapper.left img {
  padding: 30px 30px 30px 0;
}

.sectionOneImage.monitoring img {
  padding: 30px 0 30px 30px;
  height: 600px;
  width: 800px;
}
