.paddedImageWrapper {
  background-color: var(--ifm-background-color);
  &.right {
    margin: 50px 0 50px 25px;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    img {
      padding: 30px 0 30px 30px;
    }
  }
  &.left {
    background-color: white;
    margin: 50px 50px 50px 0;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    img {
      padding: 30px 30px 30px 0;
    }
  }
}

.codeBlockContainer {
  &:hover {
    .copyBtn {
      opacity: 1;
    }
  }
}

.header {
  background-color: #1e1e1e;
  color: var(--ifm-color-light);
  font-weight: bold;
  padding: 10px 16px;
  font-family: "Courier New", Courier, monospace;
  border-top-right-radius: var(--ifm-pre-border-radius);
  border-top-left-radius: var(--ifm-pre-border-radius);
}

.copyBtn {
  position: absolute;
  top: 4px;
  right: 8px;
  background: transparent;
  border: none;
  opacity: 0;
  transition: opacity 0.2s;
  cursor: pointer;
  padding: 4px;
}

.absoluteCtaWrapper {
  position: relative;
  background-color: var(--ifm-color-primary);
  color: white;
  padding: 40px 50px;
  font-weight: bold;
  button {
    position: absolute;
    top: 40px;
    right: 40px;
    @media screen and (max-width: 966px) {
      position: revert;
    }
  }
}

.offsetImageText {
  padding: 40px;
  &.right {
    text-align: right;
  }
}

.offsetImageWrapper {
  display: flex;
  justify-content: flex-end;
  &.left {
    justify-content: flex-start;
  }
}

.offsetImage {
  background-color: var(--ifm-background-color);
  border-radius: 60px 0 0 60px;
  margin: 10px 0;
  width: 90%;
  &.left {
    border-radius: 0 60px 60px 0;
    img {
      padding: 30px 30px 30px 0;
    }
  }
  img {
    padding: 30px 0 30px 30px;
  }
}
