/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */ 

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #00b5e2;
  --ifm-color-primary-dark: #0079ac;
  --ifm-color-primary-darker: #0072a2;
  --ifm-color-primary-darkest: #005e86;
  --ifm-color-primary-light: #0093d2;
  --ifm-color-primary-lighter: #009adc;
  --ifm-color-primary-lightest: #00aef8;
  --ifm-font-color-base: #606060;
  --ifm-heading-color: #007DFF;
  --ifm-navbar-background-color: #EFEFEF;
  --ifm-navbar-link-color: #007DFF;
  --ifm-navbar-shadow: 0;
  --ifm-footer-background-color: #2A2A2A;
  --ifm-footer-title-color: #ffffff;
  --ifm-footer-color: #ffffff;
  --ifm-footer-link-color: #ffffff;
  --ifm-code-font-size: 95%;
  --ifm-font-family-base: "Quicksand", sans-serif;
  --ifm-heading-font-family: "Quicksand", sans-serif;
  --ifm-background-color: #EFEFEF;
}

.navbar__items {
  color: #007DFF;
  gap: 80px;
}

.navbar__item {
  font-weight: bold;
}

.navbar__logo img {
  height: 75px;
  width: 75px;
}

.docusaurus-highlight-code-line {
  background-color: #0033A0;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.hero.hero--primary {
  background-color: #007DFF;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero.hero--primary img {
  margin-bottom: 30px;
  width: 25%;
}

.hero__title {
  color: #ffffff;
}

.hero--subtitle {
  margin-top: -20px;
  margin-bottom: 30px;
  font-size: 1.75rem;
  font-weight: bold;
  color: #BCE0EF;
}

.row h2 {
  margin-bottom: 30px;
}

.button.button--secondary {
  color: white;
}

.button.button--secondary.button--outline:not(.button--active):not(:hover) {
  color: white;
}

.row--center h2{
  color: #29327A;
  font-size: 35px;
  font-weight: bolder;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  width:100%;
}

span {
  color: var(#ffffff);
}

.padding {
  margin-top: 25px;
  margin-bottom: 25px;
}

.footer {
  padding: 0;
  overflow-x: hidden;
}

.footer-flowave-icon {
  position: absolute;
  padding: 50px;
}

.footer-resources {
  padding-top: 40px;
  padding-bottom: 10px;
  margin-left: 250px;
}

.footer__bottom {
  background-color: #000000;
  color: #B8B8B8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1rem 2rem;
}

.footer-links {
  margin-top: -2%;
  background-color: transparent;
}

.release-info {
  font-size: 13px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  white-space: nowrap;
  top: 80%;
}

.footer-finos-logo {
  height: 70px;
  margin-left: 25px;
}

.contact-info {
  color: #ffffff;
  font-size: 12px;
  margin-top: 1rem;
}