.navbarEventBanner {
  text-align: center;
  background: #515151;
  color: white;
  font-weight: 600;
}

.navbarEventBanner a:link {
  color: rgb(120, 194, 255);
  text-decoration: none;
}

.navbarEventBanner a:hover {
  color: rgb(162, 213, 254);
  text-decoration: none;
}

.navbarEventBanner a:visited {
  color: rgb(120, 194, 255);
  text-decoration: none;
}

.navbarEventBanner a:visited:hover {
  color: rgb(162, 213, 254);
  text-decoration: none;
}
